body, p, h1, ul, l1, blockquote{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Volkhov", Georgia, serif ;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


.estrutura{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "hero hero hero"
        "bann bann bann"
        "flayer1 flayer1 flayer1"
        "banner3 banner3 banner3"
        "servicos servicos servicos"
        "comofunciona comofunciona comofunciona"
        "bannerEmive2 bannerEmive2 bannerEmive2"
        "bannercell bannercell bannercell"
        "bannerEmive bannerEmive bannerEmive"
        "footer1 footer1 footer1"
        "footer footer footer"
        "footer3 footer3 footer3"
        "footer4 footer4 footer4"
        
    ;
}


.estrutura2{
    background: #000000;
    color:#fff;

    .header{
        padding-left: 30px;
        padding-right: 50px;
    }
    .header img{
        height: 100%;
        width: 100%;
    }

    input{
        width: 100%;
        padding: 8px 0px;
        margin: 8px 0px;
    }
    
    input[type="text"][name="message"] {
        height: 100px;
        /* Adicionando apenas a altura para o input de mensagem */
    }

    h3{
        font-size: 26px;
        font-family: volkhov;
        padding-left: 30px;
        color: #F3BF0B;
    }


    button{
        background: #F3BF0B;
        border: none;
        width: 100%;
        height: 30px;
    }

    .container{
        border: solid 2px #ffffff;
        padding: 30px;
    }

    .footer2 .foto2 img{
        border: solid 3px #ffffff;
    }
}


.header{
    grid-area: header;
    background: linear-gradient(135deg,#000000 ,#000000e8);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

}


.header nav ul{

    display: flex;
    flex-wrap: wrap;
    
}

.header nav a{
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 0.9em;
    transition: 0.2s;
  }

.header .orcamento{
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 0.9em;
    transition: 0.2s;
    animation: blink 3s infinite;
    border-radius: 10px;
    text-decoration: none; 
  }
    
  @keyframes blink {
    50% {
      background-color: #F3BF0B;
    }
}

.header nav a:hover{
    background: #F3BF0B;
    color: #000000;
    border-radius: 10px;
    text-decoration: none; 
}

.header li + li{
    margin-left: 30px;
}

.hero{
    grid-area: hero;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
}

.flayer1{
    grid-area: flayer1;
}

.flayer2,
.flayer3{
    display: none;
}

.flayer2{
    grid-area: flayer2;
}

.flayer3{
    grid-area: flayer3;
}

.banner3{
    grid-area: banner3;
}

.comofunciona{
    grid-area: comofunciona;
    padding-top: 20px;
    padding-bottom: 20px;

    
}

.logo{
    min-width: 70px;
    max-width: 125px;
}

img{
    width: 100%;
}

.bann{
    grid-area: bann;
    font-size: 20px;
    padding: 20px;
    color: #2b2a28;
    text-align: center;
    background-color: #b6b3a9d5;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);


}



.servicos {
    display: grid;
    background-color: #ffffff;
    justify-content: center;
    padding: 6px;
    align-items: center;
    grid-area: servicos;
    grid-template-columns: repeat(auto-fit, minmax(200px,200px));
    grid-gap: 10px; /* Espaçamento entre as imagens */
}

.patrimonio,
.botaopanico,
.gestao,
.gerenciamento,
.deslocamento,
.suporte {
    display: grid;
    justify-content: center;
    align-items: center;
    min-width: 120px; /* Largura mínima da imagem */
    max-width: 200px; /* Largura máxima da imagem */
    width: 100%;
}

.patrimonio, .botaopanico {
    grid-area: auto;
}

.gestao, .gerenciamento {
    grid-area: auto;
}

.deslocamento, .suporte {
    grid-area: auto;
}

.comofun1{
    display: none;
    grid-area: comofun1;
}

.comofun2{
    display: none;
    grid-area: comofun2;
}

.bannercell{
    grid-area: bannercell;
}

.bannermobile{
    grid-area: bannermobile;
    display: none;
}
.bannerEmive{
    grid-area: bannerEmive;
}

.bannerEmive2{
    grid-area: bannerEmive2;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
   
}

.footer2 { 
    grid-area: footer;
    text-align: center;
    align-items: center;
    background:rgb(0, 0, 0);
    display: grid; /* Adiciona a propriedade display grid */
    grid-template-columns: 1fr 1fr 1fr; /* Divide o footer em duas colunas */
    grid-template-areas: "foto txtfoto txtfoto"; /* Nomeia as áreas das colunas */
    padding-bottom: 20px;
    font-weight: bold;
    color: #fff;

}

.footer2 .foto2 img{
    grid-area: foto;
    width: 50%;
    border-radius: 100%;
    border: solid 3px #F3BF0B;
}

.footer2 .txtfoto img{
    width: 70px;
    height: 70px;
}

.footer2 .txtfoto{
    grid-area: txtfoto;
    text-align: left;  

}

.footer2 h1{
    color:#F3BF0B;
}

.footer2 h1{
    color:#F3BF0B;
    font-weight: bold;
}

.footer4 {
    grid-area: footer4;
    padding-top: 5px;
    text-decoration: none;
    background: #000; /* Alterado para preto */
    color: #ffffff; /* Alterado para amarelo */
    text-align: center;
    font-size: 10px;
}

.footer4 a.desenv {
    text-decoration: none;
    color: #ffffff; /* Cor da fonte em amarelo */
}

.footer4 a.desenv:hover {
    color: #ec3c3c; /* Muda a cor do texto para branco ao passar o mouse */
}





.footer1 { 
    grid-area: footer1;
    text-align: center;
    align-items: center;
    background:rgb(0, 0, 0);
    border-top: 2px solid rgb(255, 255, 255); /* A mesma cor e espessura para manter a consistência */

}


.footer1 h2 {
    color: #fff;
    position: relative;
    padding-bottom: 20px;
}

.footer1 h2::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Posiciona a linha abaixo do h2 */
    left: 80px; /* Inicia a linha preta após 20px da esquerda */
    right: 80px; /* Termina a linha preta 20px antes da direita */
    height: 2px; /* Altura da linha */
    background-color: #ffffff; /* Cor da linha preta */
}


.footer1 .txt{
    color:#ff0000d0;
    font-weight: bold;
    
}

#orcamentoButton {
    flex-wrap: wrap;
    background-color: black;
    animation: blinkOrcamento 3s infinite; /* Alterado para blinkOrcamento */
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 0.9em;
    transition: 0.2s;
}

.whatapps {
    flex-wrap: wrap;
    background-color: black;
    animation: blinkWhatapps 3s infinite; /* Alterado para blinkWhatapps */
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 0.9em;
    transition: 0.2s;
    border-radius: 10px;
}

.textorc {
    font-size: 20px;
    font-family: sans-serif;
}

@keyframes blinkOrcamento {
    50% {
        background-color: rgba(255, 230, 0, 0.678);
    }
}

@keyframes blinkWhatapps {
    50% {
        background-color: rgb(0, 255, 0);
    }
}

.container h3{
    font-size: 30px;
    color: #fff;
}
@media(max-width: 1300px){

    .estrutura{        
        display: grid; 
        grid-template-columns: minmax(160px,1fr) 3fr 300px;
        grid-template-areas: 
            "header header"
            "hero hero hero"
            "bann bann bann"
            "banner3 banner3 banner3"
            "bannerEmive2 bannerEmive2 bannerEmive2"
            "bannercell bannercell bannercell"
            "bannerEmive bannerEmive bannerEmive"
            "footer1 footer1 footer1"
            "footer footer footer"
            "footer3 footer3 footer3"
            "footer4 footer4 footer4"
            
        ;
    }

}

@media(max-width: 1265px){
    .suporte img{
        display: none;
    }
    
}

@media screen and (max-width: 500px) {

    .logo{
        min-width: 60px;
        max-width: 80px;
    }

    .flayer1{
        display: none;
    }

    .flayer2,
    .flayer3{
        display: grid;
    }

    .estrutura{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header"
            "hero hero hero"
            "bann bann bann"
            "flayer2 flayer2 flayer2"
            "flayer3 flayer3 flayer3"
            "banner3 banner3 banner3"
            "servicos servicos servicos"
            "comofun1 comofun1 comofun1"
            "comofun2 comofun2 comofun2"
            "bannerEmive2 bannerEmive2 bannerEmive2"
            "bannermobile bannermobile bannermobile"
            "bannerEmive bannerEmive bannerEmive"
            "footer1 footer1 footer1"
            "footer footer footer"
            "footer3 footer3 footer3"
            "footer4 footer4 footer4"
            
        ;
    }

    .footer2 .foto2 img{
        border-radius: 10%;
        height: 150px;
        width: 100px;
    }

    .servicos img{
        width: 200px;
    }

    .comofunciona{
        display: none;
    }
    .comofun1{
        display: grid;
        grid-area: comofun1;
    }
    
    .comofun2{
        display: grid;
        grid-area: comofun2;
    }
    

    .bann{
        padding: 0px;
        font-size: 13px;
    }

    .bannercell{
        grid-area: bannercell;
        display: none;
    }
    
    .bannermobile{
        grid-area: bannermobile;
        display: grid;
    }
    .footer1 h2{
        font-size: 15px;
    }
    .txtfoto h5{
        font-size: 10px;
    }
    .txtfoto h1{
        font-size:20px;
    }
    .txtfoto h4{
        font-size: 15px;
    }
    .footer2 .txtfoto img{
        width: 40px;
        height: 40px;
    }

    .container h3{
        font-size: 20px;
        
    }

}

@media screen and (max-width: 600px) {

}