body, p, h1, ul, l1, blockquote{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Volkhov", Georgia, serif ;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


.estrutura{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "hero hero hero"
        "bann bann bann"
        "servicos servicos servicos"
        "bannerEmive2 bannerEmive2 bannerEmive2"
        "bannercell bannercell bannercell"
        "bannerEmive bannerEmive bannerEmive"
        "footer footer footer"
        
    ;
}

.header{
    grid-area: header;
    background: linear-gradient(135deg,#000000 ,#000000e8);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
    
}

.header nav a{
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 1.125em;
    transition: 0.2s;

}

.header nav a:hover{
    background: #F3BF0B;
    color: #000000;
    border-radius: 10px;
    text-decoration: none; /* Esta linha remove o sublinhado */
}

.header li + li{
    margin-left: 30px;
}

.hero{
    grid-area: hero;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
}

.logo{
    width: 125px;
}

img{
    width: 100%;
}

.bann{
    grid-area: bann;
    font-size: 160%;
    padding: 20px;
    color: #2b2a28;
    text-align: center;
    background-color: #b6b3a9d5;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);


}

.servicos{
    display: flex;
    background-color: #F3BF0B;
    justify-content: space-around;
    grid-area: servicos;
    grid-template-columns: 1fr 1fr 1fr;
}
.monitoramento{
    grid-area: monitoramento;
    max-width: 100%; /* Para garantir que não ultrapasse a largura do contêiner pai */
    width: 100%;
    background: #F3BF0B;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    padding: 40px;
    align-items: center;
    text-align: justify;
    text-decoration: none;
    list-style: none;
    border: 2px transparent black;
    border-radius: 8%;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);

}
.monitoramento a {
    color: black; 
    text-decoration: none; 
}

.centralizado {
    display: block;
    text-align: center;
    font-weight: bold; 
    font-size: 20px;
}

.monitoramento a:hover{
    background: #f3c10b85;
    color: #fff;
    border-radius: 10px;

}

.monitoramento a:hover .centralizado{
    display: none;
}

.monitoramento a  #textoculto{
    display: none;
}

.monitoramento a:hover #textoculto{
    display: flex;
    color: #000000;
    font-weight: bold;
    font-family: monospace;
}
.monitoramento .fa-shield-alt {
    font-size: 30px; 
}

.alarme{
    grid-area: alarme;
    background: #F3BF0B;
    max-width: 100%; /* Para garantir que não ultrapasse a largura do contêiner pai */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    padding: 40px;
    align-items: center;
    text-align: justify;
    text-decoration: none;
    list-style: none;
    border: 2px transparent black;
    border-radius: 8%;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
}

.alarme a {
    color: black; 
    background: #F3BF0B;
    text-decoration: none; 
}



.alarme a:hover .centralizado{
    display: none;
}

.alarme a  #textoculto{
    display: none;
}

.alarme a:hover #textoculto{
    display: flex;
    color: #000000;
    font-weight: bold;
    font-family: monospace;
}

.alarme .fa-volume-up {
    font-size: 30px; 
}

.camera{
    grid-area: camera;
    max-width: 100%; /* Para garantir que não ultrapasse a largura do contêiner pai */
    width: 100%;
    background: #F3BF0B;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    padding: 40px;
    align-items: center;
    text-align: justify;
    text-decoration: none;
    list-style: none;
    border: 2px transparent black;
    border-radius: 8%;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
}

.camera a {
    color: black; 
    background: #F3BF0B;
    text-decoration: none; 
}

.camera a:hover .centralizado{
    display: none;
}

.camera a  #textoculto{
    display: none;
}

.camera a:hover #textoculto{
    display: flex;
    color: #000000;
    font-weight: bold;
    font-family: monospace;
}

.camera .fa-video {
    font-size: 30px; 
}

.bannercell{
    grid-area: bannercell;


}
.bannerEmive{
    grid-area: bannerEmive;

}

.bannerEmive2{
    grid-area: bannerEmive2;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.6);
}

.footer { 
    grid-area: footer;
    text-align: center;
    align-items: center;
    background:rgb(0, 0, 0);
}

footer a{
    color: #FFC80B;
    font-family: "Volkhov", Georgia, serif ;
    font-size: 10px;
}

.footer a:hover{
    background:  #FFC80B;
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
}